body {
    color: #FFFFFF;;
    background-color: #FFFFFF;;
    font-family: sans-serif;

}
# #0083B8
section[data-testid="stSidebar"] > div {
    background-color: #0083B8;
    background-image: "C:\Users\35266\Desktop\BodyMirror-software-Myelin-H\BodyMirror\Dashboard\1.png";
    font-family: sans-serif;
}
